.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}


a:link, a:visited {
    background-color: #2262eb;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
   
  }
  
  a:hover, a:active {
    background-color: #173f97;
    color: whitesmoke;
  }
.navbar {
    background-color: #2262eb;
    display: flex;
    color: white;
}

.navbar-ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar-menu {
    display: flex;
    margin-right: 3em
}

.brand-name {
    margin-right: auto;
    margin-left: 1em;
    padding: 0.3.em;
    letter-spacing: 0.7em;
}

.navbar-li {
    padding: 0 3em;
    margin: 0 1em
}

.footer {
    display: flex;
    background-color: #2262eb;
    color: white;
    
    
}

.footer p {
    margin-left: 1em;
}

.main {
    flex: 1;
    padding: 10px ;
    text-align: center;
   
}

.main-container {
    background-color: aliceblue;
    width: 80%;
    padding: 0.1px;
    margin: auto;
} 

.main-container h1, form {
    padding: 1em;
    margin: auto
}

form {
    padding: 1%;
    margin: 1%;
}

input[type=text], [type=password] {
    padding: 1%;
    margin: 1%;
    border: 1px solid #173f97;        
    border-radius: 4px;

}

.submit-button {
  border: 2px solid #173f97;
  color: white;
  padding:  1% 9%;
  text-align: center;
  text-decoration: none;
 
  font-size: 16px;
  
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  color: #173f97
}

.submit-button:hover {
    background-color: #173f97;
    color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #173f9756;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #173f9757;
  }

  .book-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      flex-wrap: wrap;
  }

  .book-card{
      height: 150px;
      width: 200px;
      border: 2px solid #173f97;
      text-align: center;
      padding: 1%;
      margin: 1em;
  }

  .book-card-title {
      border: #173f97;
      border-bottom: 1px solid;
      position: relative;
  }

  .book-links:link, .book-links:visited {
    background-color: white;
    color: #173f97;
  }
  
  .book-links:hover, .book-links:active {
    background-color: whitesmoke;
    color: blue;
  }